.blog-content{
    padding: 30px;
}

.blog-content h3{
    text-align: center;
    padding: 20px 0;
}

.blog-content .date{
    text-align: center;
    color: green;
    padding: 20px 0;
}

.blog-content p{
    text-indent: 2em;
    padding: 10px 0;
}

.container .card #n{
    text-align: center;
    color: rgb(0, 13, 255);
    font-weight: 300px;
}